.backgroundOne{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),url('./../../public/workdesk.png');
    background-repeat: no-repeat;
    background-size: cover;
}

.backgroundTwo{
    background-image: linear-gradient(
        rgba(0, 0, 0, 0.5), 
        rgba(0, 0, 0, 0.5)
      ),url('./../../public/worker.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

.result{
	font-family: Consolas,monaco,monospace; 
    font-stretch: extra-condensed;
}